openapi: 3.0.0

info:
  version: '1.0'
  title: 'UniLinks Web API'
  description: 'Web Resources Specification (A7) for UniLinks'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2222/-/wikis/Home

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: User Administration'
  - name: 'M03: Content'
  - name: 'M04: Loans'
  - name: 'M05: User Administration and Static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email_tag:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email_tag
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{account_tag}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tag:
                  type: string
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                birthdate:
                  type: string
                university:
                  type: string
                course:
                  type: string
                location:
                  type: string
                description:
                  type: string
                pronouns:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - tag
                - email
                - password
                - birthdate
                - university
                - course

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{account_tag}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /users/{account_tag}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path
          name: account_tag
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
 
  /admin/users:
    get:
      operationId: R107
      summary: 'R107: View all users'
      description: 'Show all users. Access: ADM'
      tags:
        - 'M02: User Administration'
      responses:
        '200':
          description: 'Ok. Show view all users UI'
    
  /admin/users/{account_tag}/block:
    post:
      operationId: R108
      summary: 'R108: block user'
      description: 'Block user. Access: ADM'
      tags:
        - 'M02: User Administration'
      parameters:
        - in: path
          name: account_tag
          schema:
            type: string
          required: true
      responses:
        '302':
          description: 'Redirect after processing the block.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful block. Redirect to user profile.'
                  value: '/users/{account_tag}'
                302Failure:
                  description: 'Failed block. Redirect to login form.'
                  value: '/login'

  /admin/users/{account_tag}/unblock:
    post:
      operationId: R109
      summary: 'R109: unblock user'
      description: 'Unblock user. Access: ADM'
      tags:
        - 'M02: User Administration'
      parameters:
        - in: path
          name: account_tag
          schema:
            type: string
          required: true
      responses:
        '302':
          description: 'Redirect after processing the unblock.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful unblock. Redirect to user profile.'
                  value: '/users/{account_tag}'
                302Failure:
                  description: 'Failed unblock. Redirect to login form.'
                  value: '/login'

  /admin/users/{account_tag}/delete:
    post:
      operationId: R110
      summary: 'R110: delete user'
      description: 'Delete user. Access: ADM'
      tags:
        - 'M02: User Administration'
      parameters:
        - in: path
          name: account_tag
          schema:
            type: string
          required: true
      responses:
        '302':
          description: 'Redirect after processing the delete.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful delete. Redirect to user profile.'
                  value: '/users/{account_tag}'
                302Failure:
                  description: 'Failed delete. Redirect to login form.'
                  value: '/login'

  /feed:
    get:
      operationId: R107
      summary: 'R107: View Feed'
      description: 'Show the current logged user''s feed'
      tags:
        - 'M03: Content'

      responses:
        '200':
          description: 'Ok. Show feed'