@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
/* -----------------------  VARIABLES  ------------------------ */

:root{
  --bg_color1: rgb(140, 229, 254);
  --bg_color2: rgb(248, 248, 248);
  --text_color: rgb(78, 78, 78);
}


/* ----------------------------------------------- */

body {
  background: var(--bg_color2);
  height: 98vh;
  color: var(--text_color);
}
area#background_color_1{
  position:absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  background: var(--bg_color1);
}
main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background-color: #d2afe7;
  padding: 1em;
  margin: 1em;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}
section#content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

section.sidepanel {
  background: white;
  border-radius: 20px;
  width: 300px;
  height: 50vh;
}

section#timeline {
  background: white;
  border-radius: 20px;
  width: 600px;
  min-height: 200px
}

section#private_profile{
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-areas:
    "profile   private_warning"
    "profile   follow";
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 40% 60%;
  padding: 40px 30px;
}
section#private_profile > #private_profile_info{
  grid-area: profile;
  width: 100%;
}
section#private_profile > #private_profile_info > #profile_image{
  background-color: lightgreen;
  width: 60%;
}

section#private_profile > #private_profile_info > #user_identity_info{
  margin-top: 10px;
  text-align: center;
}
section#private_profile > #warning_private_profile{
  grid-area: private_warning;
  margin: auto;
  text-align: center;
}


section#profile{
  width: 100%;
  height: 310px;
  display: grid;
  grid-template-areas:
    "profile_img info     info"
    "identity    identity follow"
    "bio         bio      bio"
    "filters     filters  filters";
  grid-template-rows: 120px 60px 105px 30px;
  grid-template-columns: 25% 50% 25%;
}

section#profile > #profile_image{
  grid-area: profile_img;
  background-color: lightgreen;
  height: 80%;
  
}
section#profile > #user_life_info_container{
  grid-area: info;
  height: 70%;
  width: 100%;
}

section#profile > #user_life_info_container i{
  min-width: 30px;
  text-align: center;
}
section#profile > #user_identity_info{
  grid-area: identity;
  height: 100%;
  width: 80%;
  padding: 0px 20px 5px 20px
  
}

section#profile > #user_identity_info > #name, section#private_profile #name{
  font-size: 1.3em; 
  color: black;
}
section#profile > #user_identity_info i{
  font-size: 5px;
  align-self: center;
}
section#profile > #follow_button, section#private_profile > #follow_button{
  grid-area: follow;
  background-color:  cornflowerblue;
  color: white;
  height: 30px;
  margin: auto;
  width: 100px;
  line-height: 30px;
  text-align: center;
}

section#profile > #user_bio_section{
  grid-area: bio;
  height: 100%;
  padding: 10px 20px 10px 20px;
}
section#profile > #user_bio_section > #bio{
  font-size: 1.1em;
  padding-bottom: 10px;
}
section#profile > #user_bio_section > :nth-last-child(2){
  font-size: 0.9em;
  text-decoration: underline;
}
section#profile > #user_bio_section > :nth-last-child(1){
  font-size: 0.9em;
}

section#profile > #filters{
  grid-area: filters;
  height: 100%;
  padding: 0 20px;
}
section#profile > #filters > a{
  align-self: center;
  width: 85px;
  height: 22px;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 22px;
  text-align: center;
  color: rgb(32, 32, 32);
}

/* --------------- posts ----------------- */
#posts {
  display: flex;
  flex-direction: column;
}
#posts article.post {
  display: flex;
  flex-direction: column;
  background-color: #d3edc3;
  padding: 1em;
  margin: 1em;
}
#posts article.post header {
  display: flex;
  align-items: center;
}
#posts article.post header h2 {
  flex-grow: 1;
}
#posts article.post header a.delete {
  display: none;
  font-size: 2.6rem;
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25;
}
#posts article.post header:hover a.delete {
  display: inline;
}
#posts article.post li {
  list-style-type: none;
}
#posts article.post li label {
  display: flex;
  align-items: baseline;
}
#posts article.post li label span {
  margin-left: .5em;
  flex-grow: 1;
}
#posts article.post li label a {
  display: none;
}
#posts article.post li label:hover a {
  display: inline;
}
#posts article.post input:checked + span {
  -webkit-text-decoration: var(--primary-color) solid line-through;
          text-decoration: var(--primary-color) solid line-through;
}
#posts article.post ul {
  margin: 0;
}
#posts article.post form {
  margin: 0;
}
#posts article.post input[type=text] {
  background-color: white;
  margin: 0;
}
/* --------------------------------------- */
#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #d2afe7;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #posts {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #posts {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.post {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button.button-outline {
  color: #9b4dca;
}
a {
  color: #9b4dca;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #9b4dca;
}
