@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /** UserProfile */
    .profile-page-filter-button {
        @apply text-center bg-gray-200 rounded-md cursor-pointer text-gray-800 text-base p-1 hover:text-gray-800;
    }

    .profile-page-filter-button-selected {
        @apply rounded-t-lg;
    }

    .action-button {
        @apply text-white py-2 px-8 text-center h-fit w-fit cursor-pointer select-none rounded-3xl;
    }

    /** LeftPanel */
    .left-panel-button {
        @apply btn w-full text-black flex flex-row justify-start items-center text-base p-2 px-4 bg-slate-200 gap-x-4 select-none cursor-pointer rounded-lg hover:bg-slate-300;
    }

    .left-panel-button-selected {
        @apply bg-blue-300 hover:bg-blue-400;
    }

    .left-panel-button-counter {
        @apply bg-slate-400 px-3 py-1 rounded-lg;
    }

    .sidepanel {
        @apply flex flex-col bg-white rounded-lg w-96 h-fit p-4;
    }

    .right-sidepanel-tab-button {
        @apply text-lg text-center w-full border-b-2 rounded-t-lg hover:text-black hover:bg-slate-100
        border-b-gray-400 py-1 select-none cursor-pointer transition-all duration-500;
    }

    .right-sidepanel-tab-button-selected {
        @apply border-b-black bg-blue-300 text-black;
    }

    .sidepanel-tab-size {
        @apply w-[22rem];
    }
    .right-sidepanel-tab-item-size {
        @apply w-[21rem];
    }

    .right-sidepanel-tab {
        @apply w-[22rem] flex-shrink-0 transition-all duration-500 flex flex-col gap-4 max-h-96 overflow-x-hidden overflow-y-scroll;
    }

    .right-sidepanel-tab-closed {
        @apply w-0;
    }

    .sidepanel-right-tab {
    }

    .left-sidepanel {
        @apply gap-y-4;
    }

    .left_panel_list {
        @apply flex flex-col bg-slate-100 items-center max-h-80 overflow-y-scroll;
    }

    /** Right Panel */
    .common-link-filter-selected {
        @apply bg-blue-600 text-white;
    }

    .common-link-filter-active {
        @apply bg-blue-500 text-white;
    }

    .btn {
        @apply text-white py-2 px-8 text-center h-fit w-fit cursor-pointer select-none rounded-md
        bg-slate-700 hover:bg-slate-800 transition active:scale-95;
    }

    .text-input {
        @apply border border-black pl-2 rounded-md outline-2 outline-offset-1 focus:outline-slate-600;
    }

    .textarea-input {
        @apply border border-black pl-2 rounded-md focus:outline-2 outline-offset-1 focus:outline-slate-600;
    }

    .group-square {
        @apply rounded-3xl;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bg_color1: #8ce5fe;
    --bg_color2: #f8f8f8;
    --text_color: #4e4e4e;
    --primary-color: #6495ed;
    --search-bar-background-color: #ececec;
}
body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: var(--bg_color2);
    height: 98vh;
    color: var(--text_color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
area#background_color_1 {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 55vh;
    background: var(--bg_color1);
}
main > header {
    display: grid;
    grid-template-columns: 6fr 10fr 6fr;
    align-items: center;
    background-color: #d2afe7;
    padding: 1em;
    background-color: #ffffff;
    padding: 10px 40px;
    margin-bottom: 2em;
}
main > header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
    text-decoration: none;
}
main > header a {
    font-size: 1.2em;
}
main > header span {
    margin: 1em;
    justify-self: center;
}
main > header a.logout_button {
    justify-self: center;
    color: var(--primary-color);
}
main > header > .search_bar {
    margin: auto;
    height: 35px;
    width: 500px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    align-items: center;
    padding: 0px 20px;
    text-align: center;
}
main > header > .search_bar > form {
    width: 400px;
    height: 20px;
    margin: auto;
    margin-bottom: 7px;
    border-bottom: var(--primary-color);
}
main > header > .search_bar > i {
    color: var(--primary-color);
    font-size: 1.3em;
}
main > header > .search_bar > form > input,
.search_bar > form > input:focus {
    border: 0px;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-color);
    height: 20px;
}
section#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
section#content #home-container {
    width: 800px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "title image" "buttons image";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 3fr;
    padding: 40px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

section#content #home-container h3 {
    grid-area: title;
    font-size: 30px;
    width: 350px;
    line-height: 33px;
    font-weight: 800;
    font-family: "Inter";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #88aff6;
}

section#content #home-container img {
    grid-area: image;
    margin: auto;
    height: 250px;
}
section#content #home-container #buttons {
    grid-area: buttons;
    margin: 40px auto;
    width: 350px;
}
section#content #home-container #buttons :first-child {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    line-height: 36px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}
section#content #home-container #buttons :nth-child(2) {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    line-height: 34px;
    background-color: inherit;
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid var(--primary-color);
}

section#timeline {
    background: #fff;
    border-radius: 20px;
    width: 600px;
    min-height: 200px;
}
section#private_profile {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-areas: "profile private_warning" "profile follow";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 40% 60%;
    padding: 40px 30px;
}
section#private_profile > #private_profile_info {
    grid-area: profile;
    width: 100%;
}

section#private_profile > #private_profile_info > #profile_image {
    background-color: lightgreen;
    width: 60%;
}
section#private_profile > #private_profile_info > #user_identity_info {
    margin-top: 10px;
    text-align: center;
}
section#private_profile > #warning_private_profile {
    grid-area: private_warning;
    margin: auto;
    text-align: center;
}
section#profile {
    width: 100%;
    height: 310px;
    display: grid;
    grid-template-areas: "profile_img info info" "identity identity follow" "bio bio bio" "filters filters filters";
    grid-template-rows: 120px 60px 105px 30px;
    grid-template-columns: 25% 50% 25%;
}
section#profile > #profile_image {
    grid-area: profile_img;
    background-color: lightgreen;
    height: 80%;
}
section#profile > #user_life_info_container {
    grid-area: info;
    height: 70%;
    width: 100%;
}
section#profile > #user_life_info_container i {
    min-width: 30px;
    text-align: center;
}
section#profile > #user_identity_info {
    grid-area: identity;
    height: 100%;
    width: 80%;
    padding: 0 20px 5px 20px;
}
section#profile > #user_identity_info > #name,
section#private_profile #name {
    font-size: 1.3em;
    color: black;
}
section#profile > #user_identity_info i {
    font-size: 5px;
    align-self: center;
}
section#profile > #link_button,
section#private_profile > #link_button,
#unblock_button {
    grid-area: follow;
    margin: auto;
    margin-bottom: 50px;
}
section#profile > #user_bio_section {
    grid-area: bio;
    height: 100%;
    padding: 10px 20px 10px 20px;
}
section#profile > #user_bio_section > #bio {
    font-size: 1.1em;
    padding-bottom: 10px;
}
section#profile > #user_bio_section > :nth-last-child(2) {
    font-size: 0.9em;
    text-decoration: underline;
}
section#profile > #user_bio_section > :nth-last-child(1) {
    font-size: 0.9em;
}
section#profile > #filters {
    grid-area: filters;
}

#posts {
    display: flex;
    flex-direction: column;
}
#posts article.post {
    display: flex;
    flex-direction: column;
    background-color: #d3edc3;
    padding: 1em;
    margin: 1em;
}
#posts article.post header {
    display: flex;
    align-items: center;
}
#posts article.post header h2 {
    flex-grow: 1;
}
#posts article.post header a.delete {
    display: none;
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}
#posts article.post header:hover a.delete {
    display: inline;
}
#posts article.post li {
    list-style-type: none;
}
#posts article.post li label {
    display: flex;
    align-items: baseline;
}
#posts article.post li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#posts article.post li label a {
    display: none;
}
#posts article.post li label:hover a {
    display: inline;
}
#posts article.post input:checked + span {
    -webkit-text-decoration: var(--primary-color) solid line-through;
    text-decoration: var(--primary-color) solid line-through;
}
#posts article.post ul {
    margin: 0;
}
#posts article.post form {
    margin: 0;
}
#posts article.post input[type="text"] {
    background-color: #fff;
    margin: 0;
}
article #postCardInfo > a {
    margin-right: 20px;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

article #postCardInfo > a .arrows {
    font-size: 1.5em;
}
#content label {
    font-weight: normal;
}
#content > form {
    margin: 0 auto;
    padding: 25px 40px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
}
#content > form > label {
    font-family: "Inter";
}
#content > form > a {
    text-decoration: solid;
    color: var(--primary-color);
}
#content > form > p {
    margin: auto;
}
#content > form > select {
    border: solid 1px var(--primary-color);
}
#content > form > #register-title {
    color: var(--primary-color);
}
#content > form button,
#content > form .button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}
#content > form .error {
    font-weight: bold;
    color: #f33;
}
#content > form input {
    background-color: #f3f3f3f3;
    border: solid 1px var(--primary-color);
}
#content > form input:focus {
    outline: none !important;
    box-shadow: 0 1px 0 var(--primary-color);
}
#content > form textarea {
    border: 1px solid var(--primary-color);
}
#posts article.post header:hover a.delete {
    display: inline;
}
#posts article.post li {
    list-style-type: none;
}
#posts article.post li label {
    display: flex;
    align-items: baseline;
}
#posts article.post li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#posts article.post li label a {
    display: none;
}
#posts article.post li label:hover a {
    display: inline;
}
#posts article.post input:checked + span {
    -webkit-text-decoration: var(--primary-color) solid line-through;
    text-decoration: var(--primary-color) solid line-through;
}
#posts article.post ul {
    margin: 0;
}
#posts article.post form {
    margin: 0;
}
#posts article.post input[type="text"] {
    background-color: white;
    margin: 0;
}

section.content .card-collection {
    background-color: var(--bg_color2);
    padding: 10px;
}
section.content .card-body {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    padding: 10px;
}
section.content .card-body > * {
    width: 140px;
}
section.content .card-body > input {
    margin: 0 10px;
    width: 120px;
    text-align: center;
}
/* --------------------------------------- */
#content label {
    font-weight: normal;
}
#content > form .error {
    font-weight: bold;
    color: #ff3333;
}
#content > form input {
    background-color: white;
}

#content > form button,
.button {
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    padding: 1px 15px;
    color: white;
}

#content > form button:hover,
#content > form .button:hover {
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

input:checked,
input:focus {
    outline: none !important;
}

@media (max-width: 70em) {
    #posts {
        grid-template-columns: repeat(2, 1fr);
    }
    main > header {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    main > header h1 {
        grid-row-end: span 2;
    }
}
@media (max-width: 40em) {
    #posts {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 25em) {
    body {
        margin: 0;
    }
    main > header {
        margin: 0;
        padding: 0.5em;
    }
    main > header span {
        margin: 0;
    }
    #content form {
        margin: 0;
        max-width: 25em;
    }
    article.post {
        margin: 0;
        border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
}
